@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
header .top-banner .banner-half div p {
   color:#E0E0E0;
   text-align:justify;
}
.featured-bike-grayscale img {
    filter: grayscale(100%);
}
.card-button-2 .btn{
    background-color: #FFFFFF;
     color: #E76F51; 
     border: 2px solid #E76F51;"
}